<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKrl0dgrWwobb5JxexIE-RooLwII-Xfyo</string>
	<key>GCM_SENDER_ID</key>
	<string>523622002285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chetan.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-29496</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-29496.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523622002285:ios:93ebdd9a656fa23dc9d964</string>
</dict>
</plist>